<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Тестов</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #3498db;
            margin-bottom: 20px;
        }

        /* Дополнительные стили можно добавить для улучшения внешнего вида */
    </style>
</head>
<body>
    <div class="container">
       <h1>Список Тестов</h1>
        {{> kira tests=tests}}
    </div>
    <footer>
        {{>footer}}
    </footer>   
</body>
</html>
