<div class="form-group">
                    <h3>Тестовый вопрос</h3>
                    <label>Вопрос 1 *</label>
                    <textarea name="question_1" placeholder="Введите вопрос" required></textarea>
                </div>