<footer class="footer">
    <div class="footer__top">
        <div class="footer__contacts-block">
            <h3 class="footer__subtitle">Контакты:</h3>
            <div class="footer__contacts-sides">
                <div class="footer__contact-column">
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Влад</span>
                        <span class="footer__contact-info">plotnikov12341@gmail.com</span>
                    </div>
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Никита</span>
                        <span class="footer__contact-info">@TrueNikosEven</span>
                    </div>
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Эмилия</span>
                        <span class="footer__contact-info">@Emilia_t1</span>
                    </div>
                </div>
                
                <div class="footer__contact-column">
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Савва</span>
                        <span class="footer__contact-info">@shoteronline</span>
                    </div>
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Катя</span>
                        <span class="footer__contact-info">@red_heaaad</span>
                    </div>
                </div>
                
                <div class="footer__contact-column">
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Константин</span>
                        <span class="footer__contact-info">@tape1314</span>
                    </div>
                </div>
                
                <div class="footer__contact-column">
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Дима</span>
                        <span class="footer__contact-info">@tokyosinner1</span>
                    </div>
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Виктория</span>
                        <span class="footer__contact-info">@Floccinau</span>
                    </div>
                </div>
                
                <div class="footer__contact-column">
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Маша</span>
                        <span class="footer__contact-info">@mrkolsn</span>
                    </div>
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Полина</span>
                        <span class="footer__contact-info">@polinuzh</span>
                    </div>
                    <div class="footer__contact-item">
                        <span class="footer__contact-name">Кира</span>
                        <span class="footer__contact-info">@Zolotova_Kira</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer__bottom">
        <div class="footer__copyright">
            © LMS Tages 2025. Все права защищены.
        </div>
    </div>
</footer>