<header class="header">
    <div class="header__container">
        <a href="/admin/categories" class="header__logo">
            <span>⚙️</span> LMS Admin
        </a>
        <nav>
            <ul class="header__nav">
                <li><a href="/admin/categories" class="header__nav-link">Категории</a></li>
                <li><a href="/" class="header__nav-link" target="_blank">На сайт ↗</a></li>
            </ul>
        </nav>
    </div>
</header>
