<header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            <span>🎓</span> LMS
        </a>
        <nav>
            <ul class="header__nav">
                <li><a href="/" class="header__nav-link">Главная</a></li>
                <li><a href="/categories" class="header__nav-link">Категории</a></li>
                <li><a href="#" class="header__nav-link">Регистрация</a></li>
                <li><a href="#" class="header__nav-link">Вход</a></li>
            </ul>
        </nav>
    </div>
</header>
