<header class="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            LMS Tages
        </a>
        <nav>
            <ul class="header__nav">
                <li><a href="/" class="header__nav-link">Главная</a></li>
                <li><a href="/categories" class="header__nav-link">Категории</a></li>
                {{#if user.ID}}
                    <li><a href="/profile" class="header__nav-link">Профиль ({{user.Username}})</a></li>
                    <li><a href="/logout" class="header__nav-link">Выход</a></li>
                {{else}}
                    <li><a href="#" class="header__nav-link">Регистрация</a></li>
                    <li><a href="/login" class="header__nav-link">Вход</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>
