/* Button */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 0.9375rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: all 0.3s;
    width: 100%;
}

.button--primary {
    background-color: var(--orange-500);
    color: white;
}

.button--primary:hover {
    background-color: #E85527;
}
