.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 0.9375rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: all var(--transition-duration);
    background-color: var(--accent-color);
    color: var(--button-text-color);
}

.button:hover {
    background-color: var(--accent-color-hover);
}

.button--glass {
    background-color: transparent;
    color: inherit;
    border: 1px solid var(--border-color);
}

.button--glass:hover {
    border-color: var(--accent-color-hover);
    background-color: transparent;
    color: var(--accent-color-hover);
}

.button--inactive {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}