.course-line__link {
    flex-grow: 1;
    min-width: 0;
}

.course-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius);
    background-color: var(--main-background-color);
    transition: all var(--transition-duration);
}

.course-line__content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.course-line__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.course-line__image-container {
    width: 70px;
    height: 45px;
    background: linear-gradient(135deg, var(--accent-color-light) 0%, var(--accent-color-light) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.course-line__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
