/* Footer */
.footer {
    background-color: var(--gray-900);
    color: white;
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;
}

.footer__container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Основной контейнер для прижатия футера */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота = высота окна */
}
