.header {
    background-color: var(--main-background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 1.25rem 0;
    position: sticky;
    top: 0;
    z-index: 100;

    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo svg {
    display: block;
    margin: 0 auto;
}

.logo-container {
    display: block;
}

.header__nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    gap: 40px;
}

.header__nav {
    margin-block: auto;
}

.header__nav-list,
.header__user-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

