*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(ul, ol):where([class]) {
    padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(ul[class]) {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
input,
inputArea,
li,
ul,
body {
    padding: 0;
    margin: 0;
}

button,
select,
input,
inputArea,
a {
    text-decoration: inherit;
    font: inherit;
    color: inherit;
    transition-duration: var(--transition-duration);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}