/* Variables */
:root {
    --main-text-color: #2d2d2d;
    --main-background-color: #fff;
    /* --main-background-blurred-color: hsla(0, 0%, 100%, 0.9098);
    --main-background-color-secondary: #fff;
    --main-background-blurred-color-secondary: hsla(0, 0%, 100%, 0.9098);
    --select-background-color: #fafafa; */
    --accent-color-hover: #fa7125;
    --accent-color-active: #e76e2c;
    --accent-color: #f65700;
    --card-border-color: #bdbdbd;
    --border-color: #989898;
    --hover-shadow: 0 0 78px rgba(85, 85, 85, 0.05), 0 0 15px rgba(85, 85, 85, 0.06), 0 0 5px rgba(85, 85, 85, 0.02);
    --button-text-color: #fff;
    --error-color: #e6332a;
    overflow-y: scroll;
    font-family: "Gotham", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;

    --transition-duration: 0.2s;
}
