<div class="empty-state">
    <h1 class="empty-state__title" style="font-size: 3rem;">{{HTTPStatus}}</h1>
    <p class="empty-state__text">An error occurred: {{Message}}</p>
    <div style="margin-top: 2rem;">
        <a href="/" class="button button--primary" style="max-width: 200px;">Go Home</a>
    </div>
</div>
