<!-- templates/pages/home.hbs -->
<div class="admin-page admin-page--full">
    <!-- Основной контент -->
    <main class="admin-content admin-content--full">
        <section class="home">
            <header class="home__header">
                <h1 class="home__header-title">
                    Добро пожаловать в
                    <span class="accent">Админ-панель LMS Tages!</span>
                </h1>
                <p class="home__header-description">
                   Управляй контентом платформы
                    <span class="accent">эффективно</span>
                    и 
                    <span class="accent">удобно</span>
                </p>
            </header>

            <section class="home__abilities">
                <h2 class="home__abilities-title">Здесь ты можешь:</h2>
                <ul class="home__abilities-list">
                    <li class="home__abilities-item">Создавать и редактировать категории курсов</li>
                    <li class="home__abilities-item">Управлять курсами и их содержимым</li>
                    <li class="home__abilities-item">Добавлять уроки с текстом и медиа</li>
                </ul>
            </section>

            <section class="home__management">
                <h2 class="home__management-title">Управление контентом:</h2>
                <p class="home__management-description">
                    Как администратор, ты имеешь полный контроль над платформой. После создания материалов ты можешь:
                </p>
                <ul class="home__management-list">
                    <li class="home__management-item">Работать с черновиками — публиковать, когда готово</li>
                    <li class="home__management-item">Устанавливать уровни сложности для курсов</li>
                    <li class="home__management-item">Управлять видимостью для студентов и гостей</li>
                </ul>
            </section>

            <section class="home__spec">
                <h2 class="home__spec-title">Особенности платформы:</h2>
                <p class="home__spec-description">
                    Админ панель имеет свои некоторые особенности:
                </p>
                <ul class="home__spec-list">
                    <li class="home__spec-item">Доступа с публичного сайта в эту панель нет, поэтому никто из гостей или учеников не сможет попасть на платформу и изменить что-либо</li>
                    <li class="home__spec-item">Не потеряй ссылку на эту платформу - найти потом будет сложно</li>
                    <li class="home__spec-item">Зато ты можешь попасть на публичный сайт и проверить, как твои опубликованные материалы будут выглядеть у учеников/гостей</li>
                </ul>
            </section>
        </section>
    </main>
</div>