{% extends "base.hbs" %}

{% block title %}Сертификаты | LMS Tages{% endblock %}

{% block content %}
<div class="certificates">
    <div class="certificates__container">
        <h2 class="certificates__title">Мои сертификаты</h2>
        
        <div class="certificate-list">
            <!-- Заглушка для сертификатов -->
            <div class="certificate-item">
                <div class="certificate-item__info">
                    <div class="certificate-item__icon" style="background-color: #FFEEE8;">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 15.5L16.5 10.5H7.5L12 15.5Z" fill="#FF6636"/>
                            <path d="M21 10H3C2.44772 10 2 10.4477 2 11V13C2 13.5523 2.44772 14 3 14H21C21.5523 14 22 13.5523 22 13V11C22 10.4477 21.5523 10 21 10Z" fill="#FF6636"/>
                        </svg>
                    </div>
                    <div class="certificate-item__content">
                        <p class="certificate-item__label">Курс</p>
                        <h3 class="certificate-item__name">HTML</h3>
                    </div>
                </div>
                <div class="certificate-item__actions">
                    <button class="button button--secondary">Просмотреть</button>
                </div>
            </div>
            
            <div class="certificate-item">
                <div class="certificate-item__info">
                    <div class="certificate-item__icon" style="background-color: #E6F0FF;">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 15.5L16.5 10.5H7.5L12 15.5Z" fill="#3F51B5"/>
                            <path d="M21 10H3C2.44772 10 2 10.4477 2 11V13C2 13.5523 2.44772 14 3 14H21C21.5523 14 22 13.5523 22 13V11C22 10.4477 21.5523 10 21 10Z" fill="#3F51B5"/>
                        </svg>
                    </div>
                    <div class="certificate-item__content">
                        <p class="certificate-item__label">Курс</p>
                        <h3 class="certificate-item__name">CSS</h3>
                    </div>
                </div>
                <div class="certificate-item__actions">
                    <button class="button button--secondary">Просмотреть</button>
                </div>
            </div>
            
            <div class="certificate-item">
                <div class="certificate-item__info">
                    <div class="certificate-item__icon" style="background-color: #FFF4E6;">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 15.5L16.5 10.5H7.5L12 15.5Z" fill="#FFD500"/>
                            <path d="M21 10H3C2.44772 10 2 10.4477 2 11V13C2 13.5523 2.44772 14 3 14H21C21.5523 14 22 13.5523 22 13V11C22 10.4477 21.5523 10 21 10Z" fill="#FFD500"/>
                        </svg>
                    </div>
                    <div class="certificate-item__content">
                        <p class="certificate-item__label">Курс</p>
                        <h3 class="certificate-item__name">JavaScript</h3>
                    </div>
                </div>
                <div class="certificate-item__actions">
                    <button class="button button--secondary">Просмотреть</button>
                </div>
            </div>
            
            <div class="certificate-item">
                <div class="certificate-item__info">
                    <div class="certificate-item__icon" style="background-color: #E6F0FF;">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 15.5L16.5 10.5H7.5L12 15.5Z" fill="#2196F3"/>
                            <path d="M21 10H3C2.44772 10 2 10.4477 2 11V13C2 13.5523 2.44772 14 3 14H21C21.5523 14 22 13.5523 22 13V11C22 10.4477 21.5523 10 21 10Z" fill="#2196F3"/>
                        </svg>
                    </div>
                    <div class="certificate-item__content">
                        <p class="certificate-item__label">Курс</p>
                        <h3 class="certificate-item__name">SQL</h3>
                    </div>
                </div>
                <div class="certificate-item__actions">
                    <button class="button button--secondary">Просмотреть</button>
                </div>
            </div>
            
            <div class="certificate-item">
                <div class="certificate-item__info">
                    <div class="certificate-item__icon" style="background-color: #E8F5E9;">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 15.5L16.5 10.5H7.5L12 15.5Z" fill="#4CAF50"/>
                            <path d="M21 10H3C2.44772 10 2 10.4477 2 11V13C2 13.5523 2.44772 14 3 14H21C21.5523 14 22 13.5523 22 13V11C22 10.4477 21.5523 10 21 10Z" fill="#4CAF50"/>
                        </svg>
                    </div>
                    <div class="certificate-item__content">
                        <p class="certificate-item__label">Курс</p>
                        <h3 class="certificate-item__name">Python</h3>
                    </div>
                </div>
                <div class="certificate-item__actions">
                    <button class="button button--secondary">Просмотреть</button>
                </div>
            </div>
        </div>
        
        <div class="profile__stats-actions" style="margin-top: 3rem;">
            <form class="profile__form" action="{{ prefix }}/certificates/refresh" method="POST">
                <button type="submit" class="button button--primary">Обновить сертификаты</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.querySelectorAll('.button--secondary').forEach(button => {        
        // Имитация загрузки
        const originalText = this.textContent;
        this.textContent = 'Загрузка...';
        this.disabled = true;
        
        setTimeout(() => {
            this.textContent = originalText;
            this.disabled = false;
            alert('Сертификат загружен! В реальном приложении здесь откроется PDF-файл');
        }, 1500);
    });
});
</script>
{% endblock %}