{% extends "base.hbs" %}

{% block title %}Профиль - Личный кабинет{% endblock %}
{% block page_title %}Профиль{% endblock %}
{% block page_subtitle %}Управление вашими данными{% endblock %}

{% block content %}
<div class="profile">
    <form class="form profile__form"> 
        <label for="form__input--name" class="form__label name">
            <p>Имя:</p>
            <input class="form__input" type="text" id="form__input--name" name="name" placeholder="Имя"/>
        </label>
        <label for="form__input--surname" class="form__label surname">
            <p>Фамилия:</p>
            <input class="form__input" type="text" id="form__input--surname" name="surname" placeholder="Фамилия"/>
        </label>
        <label for="form__input--birthDate" class="form__label">
            <p>Дата рождения:</p>
            <input class="form__input" type="text" id="form__input--birthDate" name="birthDate" placeholder="Дата рождения"/>
        </label>
        <label for="form__input--email" class="form__label">
            <p>Эл. адрес:</p>
            <input class="form__input" type="email" id="form__input--email" name="email" placeholder="Эл. адрес"/>
        </label>
        <label for="form__input--tel" class="form__label">
            <p>Номер телефона:</p>
            <input class="form__input" type="text" id="form__input--tel" name="tel" placeholder="Номер телефона"/>
        </label>
        <button type="submit" class="button button--primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}